.todosContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    width: 100%;
}

.todoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 4rem;
    border-radius: 4rem;
}

.todoContainer:nth-child(2n + 1) {
    background-color: var(--bg-green);
}

.todoContainer:nth-child(2n) {
    background-color: var(--bg-blue);
}

.todoContainer:nth-child(3n) {
    background-color: var(--bg-orange) !important;
}

.textContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.todoText {
    font-size: 2.5rem;
    color: var(--light-text);
}

.todoTime {
    font-size: 1.2rem;
    opacity: .7;
    color: var(--time-color);
}

.todoButton {
    padding: 1rem;
    font-size: 1.6rem;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    background-color: var(--delete-btn);
    color: var(--light-text);
}

@media screen and (max-width: 576px) {
    .textContainer {
        gap: 0.5rem;
    }

    .todoText {
        font-size: 2rem;
    }

    .todoButton {
        font-size: 1.4rem;
    }
}